@import url(//db.onlinewebfonts.com/c/99a6e07ae5cab387193854e1bbc9335a?family=Myriad+Pro+Cond);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
